@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - etchieve.com</title>
    @Styles.Render("~/content/area_store")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action(MVC.StoreArea.Home.Index())">Etchieve.com</a>

            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action(MVC.StoreArea.Product.Index())">Our Products</a></li>
                    <li class="pull-right"><a href="@Url.Action(MVC.StoreArea.Cart.Index())">Your Shopping Cart</a></li>
                </ul>
            </div><!--/.navbar-collapse -->
        </div>
    </nav>

    @RenderBody()

    <footer>
        <div class="footer" id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                        <h3> Etchieve.com </h3>
                        <ul>
                            <li> <a href="#"> Products </a> </li>
                            <li> <a href="#"> Categories </a> </li>
                            <li> <a href="#"> Shopping Cart </a> </li>
                            <li> <a href="#"> Account Details </a> </li>
                        </ul>
                    </div>
                    <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                        <h3> Affiliates </h3>
                        <ul>
                            <li> <a href="#"> Collegiate Services </a> </li>
                            <li> <a href="#"> Our Partners </a> </li>
                            <li> <a href="#"> Become a Partner </a> </li>
                            <li> <a href="#"> Personalized Stoneworkz </a> </li>
                        </ul>
                    </div>
                    <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                        <h3>Let Us Help You</h3>
                        <ul>
                            <li> <a href="#"> Your Account </a> </li>
                            <li> <a href="#"> Shipping Rates & Policies </a> </li>
                            <li> <a href="#"> Returns & Replacements </a> </li>
                            <li> <a href="#"> Privacy Policy </a> </li>
                        </ul>
                    </div>
                    <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                        <h3> Support </h3>
                        <ul>
                            <li> <a href="#"> 1855 Vanna Road, </a> </li>
                            <li> <a href="#"> Royston, GA 30662  </a> </li>
                            <li> <a href="#" title="Phone"><i class="fa fa-phone"></i> 706-245-0120 </a> </li>
                            <li> <a href="#" title="Fax"><i class="fa fa-fax"></i> 706-245-0191</a> </li>
                        </ul>
                    </div>
                    <div class="col-lg-34  col-md-4 col-sm-6 col-xs-12 ">
                        <h3>Newsletter</h3>
                        <ul>
                            <li>
                                <!-- Begin MailChimp Signup Form -->
                                <div id="mc_embed_signup" class="newsletter-box text-center">
                                    <form action="//etchieve.us10.list-manage.com/subscribe/post?u=6d345af52d45aed19b15e7255&amp;id=5148ce3627" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                        <div id="mc_embed_signup_scroll">
                                            <input type="email" value="" name="EMAIL" class="full text-center form-control" id="mce-EMAIL" placeholder="Enter Your Email Address " required>
                                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                            <div style="position: absolute; left: -5000px;"><input type="text" name="b_6d345af52d45aed19b15e7255_5148ce3627" tabindex="-1" value=""></div>
                                            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-gray">
                                        </div>
                                    </form>
                                </div>
                                <!--End mc_embed_signup-->

                            </li>
                        </ul>
                        <ul class="social">
                            <li> <a href="#"> <i class=" fa fa-facebook">   </i> </a> </li>
                            <li> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>
                            <li> <a href="#"> <i class="fa fa-google-plus">   </i> </a> </li>
                            <li> <a href="#"> <i class="fa fa-pinterest">   </i> </a> </li>
                            <li> <a href="#"> <i class="fa fa-youtube">   </i> </a> </li>
                        </ul>
                    </div>
                </div>
                <!--/.row-->
            </div>
            <!--/.container-->
        </div>
        <!--/.footer-->

        <div class="footer-bottom">
            <div class="container">
                <p class="pull-left"> Copyright © Etchieve.com | All right reserved. </p>
                <div class="pull-right">
                    <ul class="nav nav-pills payments">
                        <li><i class="fa fa-cc-visa"></i></li>
                        <li><i class="fa fa-cc-mastercard"></i></li>
                        <li><i class="fa fa-cc-discover"></i></li>
                        <li><i class="fa fa-cc-amex"></i></li>
                        <li><i class="fa fa-cc-paypal"></i></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--/.footer-bottom-->
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
