@model Mango.Web.Areas.Admin.Models.ProductCategoryFormViewModel

@{
    ViewBag.Title = "Add Product Category";
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", MVC.Admin.Home.Index())</li>
    <li>@Html.ActionLink("Product Categories", MVC.Admin.ProductCategory.List())</li>
    <li class="active">@Html.ActionLink("Create", MVC.Admin.ProductCategory.Create())</li>
</ol>

<h2>@ViewBag.Title</h2>

@Html.EditorForModel()