@model Mango.Web.Areas.Admin.Models.ProductCategoryFormViewModel
@{
    ViewBag.Title = "Edit Product Category";
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", MVC.Home.Index())</li>
    <li>@Html.ActionLink("Product Categories", MVC.Admin.ProductCategory.List())</li>
    <li class="active">@Html.ActionLink("Edit", MVC.Admin.Product.Edit(Model.ProductCategoryId))</li>
</ol>

<h2>@ViewBag.Title</h2>

@Html.EditorForModel()