@model Mango.Web.Areas.Admin.Models.OrganizationFormViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    @Html.EditorFor(model => model.OrganizationId)
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Abbreviation, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Abbreviation, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Abbreviation, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PrimaryLogoImage, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                <button id="primaryImageModalOpen">Upload Image</button>

                @Html.EditorFor(model => model.PrimaryLogoImage, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.PrimaryLogoImage, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default btn-primary">
                    <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> Save
                </button>
            </div>
        </div>
    </div>
}

<script>
    var pl_imageUploadOptions = {
        buttonUpload: "#btnUpload",
        containerControls: "#uploadControls",
        containerProgress: "#uploadProgress",
        fileUpload: "#fileUpload",
        containerResults: "#uploadResults",
        controlImage: "#PrimaryLogoImage",
        modalId: "#modal_pl_imageUpload",
        buttonModalOpen: "#primaryImageModalOpen"
    };
</script>

<div id="modal_pl_imageUpload" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Upload Primary Logo Image</h4>
            </div>
            <div class="modal-body">
                <form action="/admin/api/fileupload" method="post" enctype="multipart/form-data">
                    <div class="form-horizontal">
                        <div class="form-group" id="uploadControls">
                            <label class="control-label col-md-2">Upload Image</label>
                            <div class="col-md-10">
                                <input id="fileUpload" type="file" />
                            </div>
                        </div>
                        <div id="uploadProgress" class="hidden">
                            <img src="/content/images/ajax-loader.gif" alt="" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



