@model Mango.Web.Areas.Store.Models.CartAccountViewModel
@{
    ViewBag.Title = "Account";
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", MVC.StoreArea.Product.Index())</li>
    <li>@Html.ActionLink("Shopping Cart", MVC.StoreArea.Cart.Index())</li>
    <li class="active">Account</li>
</ol>

<div class="row vertical-divider">
    <div class="col-md-6">
        <div class="col-md-11">
        <h3>Returning Customer?</h3><hr/>
        Please, Sign In to Speedup the Checkout process.
            <div class="margined">@Html.EditorFor(model => model.LoginViewModel)</div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="col-md-11 col-md-offset-1">
            <h3>New Customer?</h3><hr />
            Proceed to Checkout now. You will have the opportunity to create an account at a later time.
            <br/><div class="text-center"><a class="btn btn-dkgray margined" href="@Url.Action(MVC.StoreArea.Cart.GuestCheckout())">Checkout as a Guest</a></div><br/>
            Or <a href="#" data-toggle="modal" data-target="#cart_account_register"> create an account</a> with us now to save your info for current and future purchases.
            <div class="text-center">
                <button class="btn btn-dkgray margined" data-toggle="modal" data-target="#cart_account_register">Create an Account</button></div>
            </div>
</div></div>
@Html.EditorFor(model => model.RegisterViewModel)



