@model Mango.Web.Areas.Store.Models.CartCustomerViewModel
@{
    ViewBag.Title = "Address";
}


<div class="container">
        <ol class="breadcrumb">
            <li>@Html.ActionLink("Home", MVC.StoreArea.Product.Index())</li>
            <li>@Html.ActionLink("Shopping Cart", MVC.StoreArea.Cart.Index())</li>
            <li class="active">Checkout</li>
        </ol>

    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "customer-shippingaddress" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })

        <div class="row">
            <div class="col-md-12">
                @Html.EditorFor(model => model.Customer)
                @Html.EditorFor(model => model.ShippingAddress)
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-12 text-right">
                <button type="submit" class="btn btn-success btn-block btn-paypal"> @* TODO - style btn-paypal *@
                    <span class="glyphicon" aria-hidden="true"></span> Checkout with PayPal
                </button>
            </div>
        </div>
    }
</div>


@section scripts {
    <script>
        $("#customer-shippingaddress").submit(function(e) {
            $("#ShippingAddress_FullName").val($("#Customer_FullName").val());
            return true;
        });
    </script>
    @*<script>
        $(window).load(function () {
            $('#same-as-billing').click(function () {
                console.log("checked - " + $('#same-as-billing:checked').length);
                
                if ($('#same-as-billing:checked').length === 1) {

                    $('input[type=text][id^="Billing_"],select[id^="Billing_"]').each(function (i, element) {
                        var name = element.id.replace("Billing_", "Shipping_");
                        console.log(name + " - " + $(element).val());
                        $('#' + name).val($(element).val());
                    });
                } else {
                    //Clear on uncheck

                    $('input[type=text][id^="Shipping_"],select[id^="Shipping_"]').each(function (i, element) {
                        //var name = element.id.replace("Billing_", "Shipping_");
                        if (name.indexOf("State") > 0) {
                            $('#' + name).val("AL");
                        } else {
                            $('#' + name).val($(element).val(""));
                        }
                    });
                };

            });
        });
        
    </script>*@
}