@model Mango.Web.Areas.Admin.Models.OrganizationFormViewModel
@{
    ViewBag.Title = "Edit Product Category";
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", MVC.Home.Index())</li>
    <li>@Html.ActionLink("Organizations", MVC.Admin.Organization.List())</li>
    <li class="active">@Html.ActionLink("Edit", MVC.Admin.Organization.Edit(Model.OrganizationId))</li>
</ol>

<h2>@ViewBag.Title</h2>

@Html.EditorForModel()


@section scripts {
    <script src="@Links.Scripts.Areas.Admin.Shared.UploadImage_js"></script>
    <script>
        if (typeof pl_imageUploadOptions === 'undefined') {

            var pl_imageUpload = new imageUpload(pl_imageUploadOptions);
            
        }
    </script>

}
