@model Mango.Web.Areas.Admin.Models.OrganizationFormViewModel
@{
    ViewBag.Title = "Edit Organization";
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", MVC.Admin.Home.Index())</li>
    <li>@Html.ActionLink("Organizations", MVC.Admin.Organization.List())</li>
    <li class="active">@Html.ActionLink("Edit", MVC.Admin.Organization.Edit(Model.OrganizationId))</li>
</ol>

<h2>@ViewBag.Title</h2>

@Html.EditorForModel()


@section scripts
{
    <script src="@Links.Scripts.jquery_ui_1_11_4_min_js"></script>
    <script src="@Links.Scripts.Areas.Admin.Shared.SortableImages_js"></script>
    <script>
        var sortableImages = new SortableImages({
            formId: "#organization-form",
            controlImagesString: "#OrganizationImagesString"
        });
    </script>
    @* Partial for upload product image script *@
    @Html.Partial(MVC.Admin.Organization.Views.ViewNames.ScriptUploadOrganizationImage, Model.UploadOrganizationImageViewModel)
}
