@model Mango.Web.Areas.Store.Models.HomeIndexViewModel
@{
    ViewBag.Title = "Home";
}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
    </div>
</div>
<div class="container">


    <!-- Example row of columns -->
    <div class="row products col-lg-8">

        @foreach (var product in Model.Products)
        {
            var imageUrl = (product.ProductImages.Any()) ? product.ProductImages.First().LocalUrl : product.CanvasImage;
            var productDetailUrl = Url.Action(MVC.StoreArea.Product.Customize(product.UrlSlug));
            <div class=" col-lg-3 col-md-3 col-sm-4 col-xs-6">
                <div class="item">
                    <a href="@productDetailUrl">
                        <span class="price">$@product.Price</span>
                        <p>
                            <img src="@imageUrl" alt="@product.Description" class="img-thumbnail">
                        </p>
                        <h2>@product.Name</h2>
                    </a>
                </div>
            </div>
        }

        <div class=" col-lg-12 col-md-12 col-sm-4 col-xs-12">
            <div class="btn btn-block btn-allproducts btn-gray">
                <a href="@Url.Action(MVC.StoreArea.Product.Index())">See All Products <i class="fa fa-long-arrow-right fa-fw"></i></a>
            </div>
        </div>
    </div>


    <div class="steps col-lg-4">
        <div class="list-group col-lg-12 col-md-6 col-sm-6 col-xs-12">
            <div href="#" class="list-group-item clearfix">
                <span class="pull-left" aria-hidden="true">1</span>
                <h4 class="list-group-item-heading">Choose your product</h4>
                <p class="list-group-item-text">Select from wide range of granite, porcelain, and glass products.</p>
            </div>
            <div href="#" class="list-group-item clearfix">
                <span class="pull-left" aria-hidden="true">2</span>
                <h4 class="list-group-item-heading">Customize It!</h4>
                <p class="list-group-item-text">Select an officially licensed collegiate logo and add your desired text.</p>
            </div>
            <div href="#" class="list-group-item clearfix">
                <span class="pull-left" aria-hidden="true">3</span>
                <h4 class="list-group-item-heading">Confirm & Checkout</h4>
                <p class="list-group-item-text">Confirm the look and feel prior to finalising your order and shipment.</p>
            </div>
        </div>
        <div class="col-lg-12 col-md-6 col-sm-6 col-xs-12">
            <img class="img-responsive text-center" src="http://placehold.it/330x220">
        </div>
        </div>
    <hr class="col-xs-12">
    <div class="row testimonials col-xs-12">
        <div class="col-md-4">
            This is a fine quality product and obtaining it was an easy task. I was able to contact the seller at any time with my questions and the final result was wonderful. It did arrive a few days later than I was hoping but that was due to the holidays and weekends but barring that it arrived in a timely manner.<br />-- Thank you Etchieve.com ~ <strong>Sherry</strong>
        </div>
        <div class="col-md-4">
            Glasses were beautifully etched with a very tasteful font. I had left those decisions up to the vendor and could not have made better choices myself. Packaging and shipping were smack on...and quick especially since it was right before Christmas in the rush of things. They made quite an impression. Will use this vendor again and again. ~ <strong>Barbara</strong>
        </div>
        <div class="col-md-4">
            These glasses are great! The company personalized them with each name and wrote a quote on the back. The etching on one glass was a little off and another glass came broken and the company is sending me two glasses to replace the two that were broken, great customer service!! The glasses are sturdy and the etching is very clear. ~ <strong>Michael</strong>
        </div>
    </div>
</div> <!-- /container -->



