@using System.Globalization
@model Mango.Web.Areas.Admin.Models.ProductFormViewModel
@{
    ViewBag.Title = "Products - Create";
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", MVC.Admin.Home.Index())</li>
    <li>@Html.ActionLink("Products", MVC.Admin.Product.List())</li>
    <li class="active">@Html.ActionLink("Create", MVC.Admin.Product.Create())</li>
</ol>

<h2>Edit Product</h2>

@Html.EditorForModel()

@section scripts
{
    <script src="@Links.Scripts.jquery_ui_1_11_4_min_js"></script>
    <script src="@Links.Scripts.Areas.Admin.Shared.SortableImages_js"></script>
    @* Partial for upload product image script *@
    @Html.Partial(MVC.Admin.Product.Views.ViewNames.ScriptUploadProductImage, Model.UploadProductImageViewModel)
}
