@using System.Globalization
@model Mango.Web.Areas.Admin.Models.ProductFormViewModel
@{
    ViewBag.Title = "Products - Edit";
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", MVC.Home.Index())</li>
    <li>@Html.ActionLink("Products", MVC.Admin.Product.List())</li>
    <li class="active">@Html.ActionLink("Edit", MVC.Admin.Product.Edit(Model.ProductId))</li>
</ol>

<h2>Edit Product</h2>

@Html.EditorForModel()

@section scripts
{
    <script src="@Links.Scripts.jquery_ui_1_11_4_min_js"></script>
    <script>
        $(function() {
            $('.sortable-images').sortable();
            //$('.handles').sortable({
            //    handle: 'span'
            //});

            $('#product-form').submit(function() {
                console.log("click");
                var urls = [];
                $('.sortable-item').each(function(index, value) {
                    var url = $(value).find('img').prop('src');
                    console.log(url);
                    urls.push(url);
                });
                $('#ProductImagesString').val(JSON.stringify(urls));
                console.log($('#ProductImagesString').val());
            });
        });

    </script>
    @* Partial for upload product image script *@
    @Html.Partial(MVC.Admin.Product.Views.ViewNames.ScriptUploadProductImage, Model.UploadProductImageViewModel)
}
