@model Mango.Web.Areas.Admin.Models.ProductLayoutFormViewModel

@{
    ViewBag.Title = "EditLayout";
}

@section ScriptsHead
{
    <script src="@Links.Scripts.product_canvas.fabric_min_js"></script>

}

<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", MVC.Admin.Home.Index())</li>
    <li>@Html.ActionLink("Products", MVC.Admin.Product.List())</li>
    <li class="active">@Html.ActionLink("Layout", MVC.Admin.Product.Layout(Model.ProductId))</li>
</ol>

    <h2>Product Layout: <span class="text-info small">Use this tool to modify the product's logo and text placement</span></h2>

<div class="container output">
    <div class="row">
        <div class="col-sm-12">
            <div class="canvas-panel col-md-7">
                <canvas id="c" name="productname" width="500" height="500"></canvas>

            </div>
            <!--<div id="contents" class="well col-md-4 col-md-offset-0 hidden-sm hidden-xs"></div>-->
            
            <div class="canvas-panel col-md-5">
                <div class="panel panel-default">
                    <span class="section-title"><strong>Step 1:</strong> Choose an image for the background</span>
                    <div class="panel-body">
                        <button class="btn btn-info btn-block" id="btnUploadImageOpenModal">Upload Background Image</button>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="section-title">
                        <strong>Step 2:</strong> Add an
                        <strong class="pic">image</strong> and/or <strong class="text">text</strong> placeholder. Afterward, click the placeholder to move & resize.
                    </div>
                    <div class="panel-body">
                        <div class="btn-group btn-block">
                            <button id="addPic" type="button" class="btn btn-success col-xs-6">Add a Logo Placeholder</button>
                            <button id="addText" type="button" class="btn btn-primary col-xs-6">Add a Text Placeholder</button>
                        </div>
                    </div>
                </div><div class="panel panel-default">

                    <div class="section-title"><strong>Step 3 (Optional):</strong> To remove a placeholder, click on the placeholder, then click the "Remove" button.</div>
                    <div class="panel-body">
                        <button id="removeObject" type="button" class="btn btn-danger btn-block">Remove the Selected Placeholder</button>
                    </div>



                </div></div>
                <div class="canvas-panel col-md-7">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                @Html.HiddenFor(model => model.ProductId)


                                @Html.HiddenFor(model => model.Configuration)
                                @Html.HiddenFor(model => model.CanvasImage)
                                <input id="noimage" type="hidden" value="~/Content/images/noimageavail.png" />

                                <button type="submit" class="btn btn-default btn-warning btn-block btn-lg">
                                    <span class="fa fa-check" aria-hidden="true"></span> Save Configuration
                                </button>
                            }
                        </div>
                    </div>
                </div>


            </div>
    </div></div>

<div id="modalImageUpload" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Upload Primary Logo Image</h4>
            </div>
            <div class="modal-body">
                <form action="/admin/api/fileupload" method="post" enctype="multipart/form-data">
                    <div class="form-horizontal">
                        <div class="form-group" data-upload="controls">
                            <label class="control-label col-md-2">File</label>
                            <div class="col-md-10">
                                <input type="file" data-upload="fileupload" />
                            </div>
                        </div>
                        <div data-upload="progress">
                            <img src="/content/images/ajax-loader.gif" alt="" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-upload="upload">Upload</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="@Links.Scripts.product_canvas.wordwrap_js"></script>
    <script src="@Links.Scripts.Areas.Admin.Product.Layout_js"></script>
    <script src="@Links.Scripts.Areas.Admin.Shared.UploadImage_js"></script>
    <script>
        var layoutCanvas = new LayoutCanvas({
            controlAddPic: "#addPic",
            controlAddText: "#addText",
            controlRemoveText: "#removeObject",
            controlDownload: "#download",
            inputConfiguration: "#Configuration",
            config: ""
        });
        var uploadImage = new UploadImage({
            urlDataTarget: "#CanvasImage",
            modalId: "#modalImageUpload",
            modalTrigger: "#btnUploadImageOpenModal",
            onUploaded: function (url) {
                layoutCanvas.updateCanvas(url);
            }
        });
    </script>
}
