@model Mango.Web.Areas.Admin.Models.ProductListViewModel
@{
    ViewBag.Title = "Products";
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", MVC.Admin.Home.Index())</li>
    <li class="active">@Html.ActionLink("Products", MVC.Admin.Product.List())</li>
</ol>

<h2 class="pull-left">
    Products<a href="@Url.Action(MVC.Admin.Product.Create())" class="btn btn-info btn-xs pull-right">
        <span class="fa fa-plus"></span> Create
    </a>
</h2>

<div class="row">
    <div class="col-md-12">

        <div class="clearfix"></div>

        @if (!Model.ProductList.Any())
        {
            <div class="alert-danger">
                No Products Found
            </div>
        }
        else
        {
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th class="col-xs-2">Actions</th>
                        <th class="col-xs-1">Featured</th>
                        <th class="col-xs-5">Name</th>
                        <th class="col-xs-3">Url Slug</th>
                        <th class="col-xs-1">Price</th>
                        <th class="col-xs-1">Archived</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ProductList)
                    {
                        <tr>
                            <td>
                                <a class="btn btn-primary btn-xs" href="@Url.Action(MVC.Admin.Product.Edit(item.ProductId))">
                                    <i class="fa fa-cog"></i> Edit
                                </a>

                                <a class="btn btn-primary btn-xs" href="@Url.Action(MVC.Admin.Product.Layout(item.ProductId))">
                                    <i class="fa fa-picture-o"></i> Layout
                                </a>
                            </td>
                            <td>
                                @if (item.FeaturedHomepage)
                                {
                                    <span class="fa fa-check"></span>
                                }
                                @*else
                                {
                                    <span class="fa fa-times"></span>
                                }*@
                            </td>
                            <td>@item.Name</td>
                            <td><a href="@Url.Action(MVC.StoreArea.Product.Customize(item.UrlSlug))" target="_blank"><span class="fa fa-external-link fa-fw"></span> @item.UrlSlug </a></td>
                            <td>$@item.Price</td>
                            <td>
                                @if (item.Archived)
                                {
                                    <span class="fa fa-check"></span>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }


    </div>
</div>
