
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-3">
        <h2>Quick Links</h2>
        <ul>
            <li><a href="@Url.Action(MVC.Admin.Product.List())">All Products</a></li>
            <li><a href="@Url.Action(MVC.Admin.Product.Create())">Add a Product</a></li>
            <li><a href="@Url.Action(MVC.Admin.ProductCategory.List())">Product Categories</a></li>
            <li><a href="@Url.Action(MVC.Admin.Organization.List())">Manage Logos</a></li>
            <li><a href="@Url.Action(MVC.Admin.Order.List())">Recent Orders</a></li>
            <li><a href="@Url.Action(MVC.Manage.Index())">Admin Settings</a></li>
        </ul>
    </div>
    <div class="col-md-5">
        <h2>Tips & Tricks</h2>
        <p>When constructing your a "Layout" or product preview please note the following during <strong>Step 2</strong>:</p>
        <p><strong>Step 2:</strong> Add an <strong class="pic">image</strong> and/or <strong class="text">text</strong> placeholder to the preview. Afterward, click the placeholder to move & resize. 
        *** Place your mouse along the edges. Then, click and drag in order to resize.</p>
 <hr />
        <p><strong>Note:</strong> Products can have a "text-only" layout, an "image-only" layout, or both. ALWAYS TEST and preview your products by clicking the <i class="fa fa-eye"></i> icon after adding a layout.</p>
        <p><a class="btn btn-default" href="@Url.Action(MVC.Admin.Product.List())">Try it Now &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>What is a url-slug?</h2>
        <p>Generally, it is the location where webpages are accessed when typing their URL in the address bar.</p>
        <p>The “slug” is the URL-friendly version of the product or category name. It is usually all lowercase and contains only letters, numbers, and hyphens.</p>
        <p><strong>Why is it important?</strong> URL Slugs are Important for search engine indexing and optimization, so having relevent url-slugs can improve your overall search engine ranking. </p>
    </div>
</div>

