@model Mango.Web.ViewModels.CustomerFormViewModel

@{
    ViewBag.Title = "Add Customer";
}

<ol class="breadcrumb">
	<li>@Html.ActionLink("Home", MVC.Home.Index())</li>
	<li>@Html.ActionLink("Customers", MVC.Admin.Customer.Index())</li>
	<li class="active">@Html.ActionLink("Create", MVC.Admin.Customer.Create())</li>
</ol>

<h2>@ViewBag.Title</h2>

@Html.EditorForModel()