@model Mango.Web.Areas.Admin.Models.CustomerFormViewModel

@{
    ViewBag.Title = "Edit Customer";
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", MVC.Admin.Home.Index())</li>
	<li>@Html.ActionLink("Customers", MVC.Admin.Customer.Index())</li>
	<li class="active">@Html.ActionLink("Edit", MVC.Admin.Customer.Edit())</li>
</ol>

<h2>@ViewBag.Title</h2>

@Html.EditorForModel()