@model Mango.Web.Areas.Store.Models.ProductCategoryViewModel
@{
    ViewBag.Title = Model.SelectedCategory.Name;
}
<div id="categories" class="container">
    <div class="row">
        <div class="col-md-2">
            <p class="lead">@Html.Raw(Model.SelectedCategory.Name)</p>
            <div class="list-group">
                @foreach (var productCategory in Model.Categories)
                {
                    <a href="@Url.Action(MVC.StoreArea.Product.Category(productCategory.UrlSlug))" class="list-group-item">@productCategory.Name</a>
                }
            </div>
        </div>
        <div class="col-md-10">
            <div class="row products">
                @if (Model.Products.Any())
                {
                    foreach (var product in Model.Products)
                    {
                        var imageUrl = (product.ProductImages.Any()) ? product.ProductImages.First().Url : "";
                        var productDetailUrl = Url.Action(MVC.StoreArea.Product.Customize(product.UrlSlug));
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                            <div class="item">
                                <a href="@productDetailUrl">
                                    <span class="price">$@Html.Raw(product.Price)</span>

                                    <p>
                                        <img src="@Html.Raw(imageUrl)" alt="@product.Name">
                                    </p>
                                    <h2>@product.Name</h2>
                                    <span class="description">@product.Description</span>

                                </a>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="col-sm-12 col-lg-12 col-md-12">No Products Found</div>
                }
            </div>
        </div>
    </div>
</div>