@model Mango.Web.Areas.Store.Models.ProductCategoryViewModel
@{
    ViewBag.Title = Model.SelectedCategory.Name;
}
<div id="categories" class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">@Html.Raw(Model.SelectedCategory.Name)</p>
            <div class="list-group">
                @foreach (var productCategory in Model.Categories)
                {
                    <a href="@Url.Action(MVC.StoreArea.Product.Category(productCategory.UrlSlug))" class="list-group-item">@productCategory.Name</a>
                }
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                @if (Model.Products.Any())
                {
                    foreach (var product in Model.Products)
                    {
                        var imageUrl = (product.ProductImages.Any()) ? product.ProductImages.First().Url : "";
                        var productDetailUrl = Url.Action(MVC.StoreArea.Product.Detail(product.UrlSlug));
                        <div class="col-sm-6 col-lg-6 col-md-6">
                            <div class="thumbnail">
                                @if (!string.IsNullOrEmpty(imageUrl))
                                {
                                    <a href="@productDetailUrl"><img src="@Html.Raw(imageUrl)" alt="@product.Name" /></a>
                                }                              
                                <div class="caption">
                                    <h4 class="pull-right">$@Html.Raw(product.Price)</h4>
                                    <h4>
                                        <a href="@productDetailUrl">@product.Name</a>
                                    </h4>
                                    <p>@product.Description</p>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="col-sm-12 col-lg-12 col-md-12">No Products Found</div>
                }
            </div>
        </div>
    </div>
</div>