@model Mango.Web.Areas.Store.Models.ProductDetailViewModel
@{
    ViewBag.Title = Html.DisplayFor(model => model.Name);
}


<div class="container output" style="margin-top: 50px;">

    <div class="col-md-7"><h3>@Html.DisplayFor(model => model.Name)</h3></div>

    <div class="col-md-7 canvas">
        <canvas id="c" name="productnameorid" width="500" height="500"></canvas>

    </div>
    <div class="col-md-5">
        <h3>$@Html.DisplayFor(model => model.Price)</h3>
        <div class="well">
            Select a logo and then insert text
        </div>

        @* TODO: need logos loop // should be a separate place in admin for managing logos / Static for now *@
        <div class="well icons">
            <div id="uga1" class="active">
                <img src="/Content/images/logos/ugalogo.png" width="40" height="40">
            </div>
            <div id="uga2">
                <img src="/Content/images/logos/ugalogo2.png" />
            </div>
            <div id="uga3">
                <img src="/Content/images/logos/ugalogo3.png" />
            </div>
            <div id="uga4">
                <img src="/Content/images/logos/ugalogo4.png" />
            </div>
            <div id="uga5">
                <img src="/Content/images/logos/ugalogo5.png" />
            </div>
        </div>

        <div class="well form-group">
            <select id="fontselector">
                @* TODO: need font loop // should be a separate place in admin for managing fonts / Static for now *@
                <option id="dancing+script">Dancing Script</option>
                <option id="vast+shadow">Vast Shadow</option>
                <option id="open+sans">Open Sans</option>
            </select>
            <textarea class="form-control" rows="5" id="addTextField"></textarea>
            <a class="btn btn-success btn-block" name="productnameorid">Add To Cart</a>

            @Html.HiddenFor(model => model.Configuration)
            @Html.HiddenFor(model => model.CanvasImage)
        </div>
    </div>
    <div class="product-details col-md-7 pull-left">
        <h4>Product Details:</h4>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        <hr/>
        <div class="more-images col-lg-12">
            @* product images will show in modal on click*@

            @if (Model.ProductImages.Any())
            {
                for (int i = 0; i < Model.ProductImages.Count; i++)
                {
                    var cssClass = (i == 0) ? "active" : string.Empty;
                    var image = Model.ProductImages[i];
                    <img src="@image.Url" class="img-thumbnail img-responsive col-lg-2 col-sm-2 col-md-2">
                }
            }
        </div>
    </div>
</div>

@section scripts {
    <script src="@Links.Scripts.product_canvas.fabric_min_js"></script>
    <script src="@Links.Scripts.product_canvas.wordwrap_js"></script>
    <script src="@Links.Scripts.Areas.Store.Product.Customize_output_js"></script>
}

