@model Mango.Web.Areas.Store.Models.ProductDetailViewModel
@{
    ViewBag.Title = Html.DisplayFor(model => model.Name);
}

<div class="container">
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Home", MVC.StoreArea.Home.Index())</li>
        <li>@Html.ActionLink(Model.ProductCategoryName, MVC.StoreArea.Product.Category(Model.ProductCategoryUrlSlug))</li>
        <li class="active">@Html.DisplayFor(model => model.Name)</li>
    </ol>
</div>
<div class="container output">

    <div class="col-md-12">
        <h3><i class="fa fa-angle-down fa-1"></i> @Html.DisplayFor(model => model.Name)</h3>
    </div>

    <div class="col-md-7 canvas">
        <canvas id="c" name="productnameorid" width="520" height="500"></canvas>

    </div>
    <div class="col-md-5">

        @* TODO: need logos loop // should be a separate place in admin for managing logos / Static for now *@
        <div id="logos" class="panel panel-default">
            <span class="section-title">Select a logo below</span>

            <div class="panel-body icons">
                <div id="uga1" class="active">
                    <img src="/Content/images/logos/ugalogo.png" width="40" height="40">
                </div>
                <div id="uga2">
                    <img src="/Content/images/logos/ugalogo2.png"/>
                </div>
                <div id="uga3">
                    <img src="/Content/images/logos/ugalogo3.png"/>
                </div>
                <div id="uga4">
                    <img src="/Content/images/logos/ugalogo4.png"/>
                </div>
                <div id="uga5">
                    <img src="/Content/images/logos/ugalogo5.png"/>
                </div>
            </div>
        </div>

        <div id="textOptions" class="panel panel-default form-group">

            <span class="section-title">Select a font & Enter Text</span>

            <div class="panel-body col-lg-12">
                
                <div class="btn-group">
                    <div class="btn-group select" id="fontOptions">
                        <button id="fontselector" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span class="selected">Dancing Script</span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu option" role="menu">
                            @{ string[] fontList = { "Dancing Script", "Vast Shadow", "Open Sans", "Arbutus Slab", "Bilbo Swash Caps", "Buenard", "Cookie", "Droid Serif", "Great Vibes", "Italianno", "Libre Baskerville", "Miss Fajardose", "Monsieur La Doulaise", "Mr De Haviland", "Mrs Saint Delafield", "Niconne", "Oswald", "Parisienne", "Petit Formal Script", "Pinyon Script", "Playball", "Qwigley", "Rochester", "Rouge Script", "Ruthie", "Sancreek", "Tangerine" };

                             foreach (var font in fontList)
                                {
                                <li id="@font.ToLower().Replace(" ", "+")"><a href="#">@font</a></li>
                                }
                             }
                        </ul>
                    </div>

                    <div class="btn-group" id="alignBtn">
                        <a id="left" class="btn btn-default" href="#"><i class="fa fa-align-left"></i></a>
                        <a id="center" class="btn btn-default" href="#"><i class="fa fa-align-center"></i></a>
                        <a id="right" class="btn btn-default" href="#"><i class="fa fa-align-right"></i></a>
                    </div>
                </div>

                <textarea class="panel-body form-control textareafield" placeholder="Enter your desired text here" rows="5" id="addTextField"></textarea>
            </div>
        </div>

        <div class="panel panel-default form-group">
            <div class="panel-body">
                <h2 class="price col-4-md pull-left">$@Html.DisplayFor(model => model.Price)</h2>
                <button type="button" id="addToCart" class="col-6-md pull-right btn btn-success" name="productnameorid"><i class="fa fa-shopping-cart fa-lg fa-fw"></i> Add To Cart</button>
                @Html.HiddenFor(model => model.Configuration)
                @Html.HiddenFor(model => model.CanvasImage)
                @Html.HiddenFor(model => model.ProductId)
                @Html.HiddenFor(model => model.Price)
                <input type="hidden" id="Quantity" name="Quantity" value="1" />
                <input id="noimage" type="hidden" value="~/Content/images/noimageavail.png"/> 
                <img class="hidden" id="#product_@Model.ProductId" width="1" height="1" crossorigin="anonymous" />
            </div>
        </div>
    </div>
    <div class="product-details col-md-7 pull-left">
        <h4>Product Description:</h4>
        @Html.DisplayFor(model => model.Description)
        <hr/>
        <div class="more-images col-lg-12">
            @* product images will show in modal on click*@

            @if (Model.ProductImages.Any())
            {
                var images = Model.ProductImages.ToList();
                for (int i = 0; i < images.Count; i++)
                {
                    var cssClass = (i == 0) ? "col-md-offset-1" : string.Empty;
                    var image = images[i];
                    <img src="@image.LocalUrl" class="img-thumbnail img-responsive col-lg-2 col-sm-2 col-md-2 col-xs-2"/>
                }
            }
        </div>
    </div>
</div>

@section scripts {
    <script src="@Links.Scripts.product_canvas.fabric_min_js"></script>
    <script src="@Links.Scripts.product_canvas.wordwrap_js"></script>
    <script src="@Links.Scripts.Areas.Store.Product.Customize_output_js"></script>
    <script src="@Links.Scripts.Areas.Store.Cart.CartService_js"></script>
    <script>
        $(window).load(function () {

            var optionsAddToCart = {
                controlProductId: '#ProductId',
                controlPrice: '#Price',
                controlConfiguration: '#Configuration',
                controlQuantity: '#Quantity',
                controlSubmit: '#addToCart',
                onSuccess: function () {

                    var dataURL = canvas.toDataURL("image/png");
                    $('img#product_@Model.ProductId').src = dataURL;
                    //Craig, store the id, and dataURL -- Will not work locally
                    window.location = '@Url.Action(MVC.StoreArea.Cart.Index())';
                }
            }
            var cartService = new CartService.AddItem(optionsAddToCart);
        });
</script>
}
