@model Mango.Web.Areas.Store.Models.ProductDetailViewModel
@{
    ViewBag.Title = Html.DisplayFor(model => model.Name);
}

<div class="container">
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Home", MVC.StoreArea.Home.Index())</li>
        <li>@Html.ActionLink(Model.ProductCategoryName, MVC.StoreArea.Product.Category(Model.ProductCategoryUrlSlug))</li>
        <li class="active">@Html.DisplayFor(model => model.Name)</li>
    </ol>
</div>
<div class="container output">

    <div class="col-md-12">
        <h3><i class="fa fa-angle-down fa-1"></i> @Html.DisplayFor(model => model.Name)</h3>
    </div>

    <div class="col-md-7 canvas">
        <canvas id="c" name="productnameorid" width="520" height="500"></canvas>

    </div>
    <div class="col-md-5">

        @* TODO: need logos loop // should be a separate place in admin for managing logos / Static for now *@
        <div id="logos" class="panel panel-default">
            <span class="section-title">Select a logo below</span>

            <div class="panel-body icons">
                <div id="uga1">
                    <img src="/Content/images/logos/ugalogo.png" width="40" height="40">
                </div>
                <div id="uga2">
                    <img src="/Content/images/logos/ugalogo2.png" width="40" height="40" />
                </div>
                <div id="uga3">
                    <img src="/Content/images/logos/ugalogo3.png" width="40" height="40" />
                </div>
                <div id="uga4">
                    <img src="/Content/images/logos/ugalogo4.png" width="40" height="40" />
                </div>
                <div id="uga5">
                    <img src="/Content/images/logos/ugalogo5.png" width="40" height="40" />
                </div>
                <div id="uga6">
                    <img src="/Content/images/logos/ugalogo6.png" width="40" height="40" />
                </div>
            </div>
        </div>

        <div id="textOptions" class="panel panel-default form-group">

            <span class="section-title">Select a font & Enter Text</span>

            <div class="panel-body col-lg-12">
                
                <div class="btn-group">
                    <div class="btn-group select" id="fontOptions">
                        <button id="fontSelector" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span class="selected">Dancing Script</span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu option" role="menu" id="fontList">
                            @{
                                string[] fontList =
                                {
                                    "Dancing Script",
                                    "Vast Shadow",
                                    "Open Sans",
                                    "Arbutus Slab",
                                    "Bilbo Swash Caps",
                                    "Buenard",
                                    "Cookie",
                                    "Droid Serif",
                                    "Great Vibes",
                                    "Italianno",
                                    "Libre Baskerville",
                                    "Miss Fajardose",
                                    "Monsieur La Doulaise",
                                    "Mr De Haviland",
                                    "Mrs Saint Delafield",
                                    "Niconne",
                                    "Oswald",
                                    "Parisienne",
                                    "Petit Formal Script",
                                    "Pinyon Script",
                                    "Playball",
                                    "Qwigley",
                                    "Rochester",
                                    "Rouge Script",
                                    "Ruthie",
                                    "Sancreek",
                                    "Tangerine"
                                };

                                foreach (var font in fontList)
                                {
                                    <li id="@font.ToLower().Replace(" ", "+")"><a href="#">@font</a></li>
                                }
                            }
                        </ul>
                    </div>

                    <div class="btn-group" id="textAlign">
                        <a id="left" class="btn btn-default" href="#"><i class="fa fa-align-left"></i></a>
                        <a id="center" class="btn btn-default" href="#"><i class="fa fa-align-center"></i></a>
                        <a id="right" class="btn btn-default" href="#"><i class="fa fa-align-right"></i></a>
                        <a id="center" class="incr btn btn-default fa-stack fa-1x" href="#"><i class="fa fa-plus fa-stack-1x"></i><i class="fa fa-font fa-stack-2x"></i></a>
                        <a id="center" class="decr btn btn-default fa-stack fa-1x" href="#"><i class="fa fa-minus fa-stack-1x"></i><i class="fa fa-font fa-stack-2x"></i></a>
                    </div>
                </div>

                <textarea class="panel-body form-control textareafield" placeholder="Enter your desired text here" rows="5" id="textToAdd"></textarea>
            </div>
        </div>

        <div class="panel panel-default form-group">
            <div class="panel-body">
                <h2 class="price col-4-md pull-left">$@Html.DisplayFor(model => model.Price)</h2>
                <button type="button" id="addToCart" class="col-6-md pull-right btn btn-success" name="productnameorid"><i class="fa fa-shopping-cart fa-lg fa-fw"></i> Add To Cart</button>
                @Html.HiddenFor(model => model.Configuration)
                @Html.HiddenFor(model => model.CanvasImage)
                @Html.HiddenFor(model => model.ProductId)
                @Html.HiddenFor(model => model.Price)
                <input type="hidden" id="Quantity" name="Quantity" value="1" />
                <input id="noimage" type="hidden" value="~/Content/images/noimageavail.png"/>
                <input type="hidden" id="outputImageString" value="" />
                <input id="fontSize" type="hidden" value="24">
            </div>
        </div>
    </div>
    <div class="product-details col-md-7 col-sm-12 col-xs-12 pull-left">
        <h4>Product Description:</h4>
        @Html.DisplayFor(model => model.Description)
        <hr />
        <div class="more-images col-lg-12">
            @* product images will show in modal on click*@

            @if (Model.ProductImages.Any())
            {
                var images = Model.ProductImages.ToList();
                for (int i = 0; i < images.Count; i++)
                {
                    var cssClass = (i == 0) ? "col-md-offset-1" : string.Empty;
                    var image = images[i];
                    <img src="@image.LocalUrl" class="img-thumbnail img-responsive col-lg-2 col-sm-2 col-md-2 col-xs-2" />
                }
            }
        </div>
    </div>
</div>

@section scripts {
    <script src="@Links.Scripts.product_canvas.fabric_min_js"></script>
    <script src="@Links.Scripts.product_canvas.wordwrap_js"></script>
    <script src="@Links.Scripts.Areas.Store.Product.Customize_output_js"></script>
    <script src="@Links.Scripts.Areas.Store.Cart.CartService_js"></script>
    <script>
        $(window).load(function () {

            var co = new CustomizeOutput({
                controlConfiguration: '#Configuration',
                controlCanvasImage: '#CanvasImage',
                controlFontList: '#fontList',
                controlFontSelector: '#fontSelector',
                wrapperLogoOptions: '#logos',
                wrapperTextOptions: '#textOptions',
                controlTextAlign: '#textAlign',
                imgNoImage: '#noimage',
                controlTextToAdd: '#textToAdd'
            });


            var cs = new CartService.AddItem({
                customizeOutput: co,
                controlProductId: '#ProductId',
                controlPrice: '#Price',
                controlConfiguration: '#Configuration',
                controlQuantity: '#Quantity',
                controlSubmit: '#addToCart',
                onSuccess: function() {
                    window.location = '@Url.Action(MVC.StoreArea.Cart.Index())';
                }
            });


        });
</script>
}
