@model Mango.Web.Areas.Store.Models.ProductDetailViewModel
@{
    ViewBag.Title = Html.DisplayFor(model => model.Name);
}


<div class="container output">

    <div class="col-md-12"><h3>@Html.DisplayFor(model => model.Name)</h3></div>

    <div class="col-md-7 canvas">
        <canvas id="c" name="productnameorid" width="500" height="500"></canvas>

    </div>
    <div class="col-md-5">
       

        @* TODO: need logos loop // should be a separate place in admin for managing logos / Static for now *@
        <div class="panel panel-default">
            <span class="section-title">Select a logo below</span>

            <div class="panel-body icons">
                <div id="uga1" class="active">
                    <img src="/Content/images/logos/ugalogo.png" width="40" height="40">
                </div>
                <div id="uga2">
                    <img src="/Content/images/logos/ugalogo2.png" />
                </div>
                <div id="uga3">
                    <img src="/Content/images/logos/ugalogo3.png" />
                </div>
                <div id="uga4">
                    <img src="/Content/images/logos/ugalogo4.png" />
                </div>
                <div id="uga5">
                    <img src="/Content/images/logos/ugalogo5.png" />
                </div>
            </div>
        </div>

        <div class="panel panel-default form-group">
         
                <span class="section-title">Select a font & Enter Text</span>

            <div class="panel-body">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Font: </span>
                    <select id="fontselector" class="form-control">
                        @* TODO: need font loop // should be a separate place in admin for managing fonts / Static for now *@
                        <option id="dancing+script">Dancing Script</option>
                        <option id="vast+shadow">Vast Shadow</option>
                        <option id="open+sans">Open Sans</option>
                    </select>
                </div>

                <textarea class="panel-body form-control" placeholder="Enter your desired text here" rows="5" id="addTextField"></textarea>
            <hr/><h2 class="price col-4-md pull-left">$@Html.DisplayFor(model => model.Price)</h2>
                <a class="col-6-md pull-right btn btn-success" name="productnameorid"><i class="fa fa-shopping-cart fa-lg fa-fw"></i> Add To Cart</a></div>

                @Html.HiddenFor(model => model.Configuration)
                @Html.HiddenFor(model => model.CanvasImage)
            </div>
    </div>
    <div class="product-details col-md-7 pull-left">
        <h4>Product Details:</h4>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        <hr/>
        <div class="more-images col-lg-12">
            @* product images will show in modal on click*@

            @if (Model.ProductImages.Any())
            {
                for (int i = 0; i < Model.ProductImages.Count; i++)
                {
                    var cssClass = (i == 0) ? "active" : string.Empty;
                    var image = Model.ProductImages[i];
                    <img src="@image.Url" class="img-thumbnail img-responsive col-lg-2 col-sm-2 col-md-2">
                }
            }
        </div>
    </div>
</div>

@section scripts {
    <script src="@Links.Scripts.product_canvas.fabric_min_js"></script>
    <script src="@Links.Scripts.product_canvas.wordwrap_js"></script>
    <script src="@Links.Scripts.Areas.Store.Product.Customize_output_js"></script>
}

